
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <div style="display: inline-flex; ">
           
            <a class="nav-link text-dark" asp-area="" asp-controller="Cuenta" asp-action="Login">Login</a>
            @*&nbsp;or&nbsp;
            <a class="text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>*@
        </div>
    </p>
</div>


