@using Microsoft.AspNetCore.Identity
@using AgileProject.Entidades 
@*@inject SignInManager<AspNetUsers> SignInManager*@
@*@inject UserManager<AspNetUsers> UserManager*@


<ul class="navbar-nav" style="font-size: small; align-items: center">
    @if (ViewBag.IsSignedIn != null)
    {
        @if (ViewBag.IsSignedIn)
        {

            <li class="nav-item">
                <a class="nav-link text-dark" href="#" title="Manage">@ViewBag.UserName</a>
            </li>

        }
        else
        {
            @*<li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>*@
            @*<li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cuenta" asp-action="Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Salir">Cerrar sesion</a>
                </li>*@
        }
    }

</ul>

