@using Microsoft.AspNetCore.Identity
@using AgileProject.Entidades
@*@inject SignInManager<AspNetUsers> SignInManager
@inject UserManager<AspNetUsers> UserManager*@

<div id="menuInside" name="menuInside" class="menuInside">
    <partial name="_MenuInside" />

</div>



