@using Microsoft.AspNetCore.Identity
@using AgileProject.Entidades
@*@inject SignInManager<AspNetUsers> SignInManager*@
@*@inject UserManager<AspNetUsers> UserManager*@

@using AgileProject.Model


@{
    ViewData["Title"] = "Settings | Change Password";
}

@if (ViewBag.IsSignedIn != null)
{
    @if (ViewBag.IsSignedIn)
        {

        <h1>Manage your configuration</h1>

        <div>
            <h2>Secure Zone</h2>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <partial name="_Menu" />

                </div>

                <form id="profile-form" asp-controller="SecureZone" asp-action="SavePassword" method="post">
                    <div class="col-md-9">
                        <h3>
                            <a class="text-dark" id="profile" href="/SecureZone">Secure Zone</a> <span>&nbsp;>&nbsp;</span>
                            <span>Change password</span>
                            @*&nbsp;>&nbsp;
                    </span><span><span id="eventNameTitleCRUD"></span> Password</span>*@
                        </h3>



                        <div class="row">
                            <div class="col-md-8">
                              
                                @if (ViewBag.IsOk == true)
                                    {
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                                        Your password has been updated
                                    </div>
                                    }
                                <div class="form-floating" style="display: none;">
                                    <input class="form-control" type="text" id="Id" name="Id" value="@ViewBag.Id" />
                                    <label class="form-label" for="Id">Id</label>
                                </div>
                                <div class="form-floating" style="display:none;">
                                    <input class="form-control" type="text" id="UserName" name="UserName" value="@ViewBag.UserName" />
                                    <label class="form-label" for="UserName">Username</label>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" type="password" id="Clave" name="Clave" required >
                                    <label class="form-label" for="password">New Password</label>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" type="password" id="confirmPassword" name="confirmPassword">
                                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                                </div>

                                <br />
                                <br />
                                <button type="submit" id="submitButton" class="w-100 btn btn-lg btn-primary">
                                    <span>Save Password</span>
                                    <span id="loader"></span>
                                </button>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8DsfhTB1faNAgHLDIY0x9vl4T5NT40_LZbcUT6QliFP4TuKlxintAI8UvfkKk8RyDY09yksaWBfHRFlgw7y4htrpexW2KwZK826pwuYJ9lkSKK1Hlhkj-2pPs8m-TtFDxhVBXWeWYjec13SaVMJhVUzjFq7G4o0BrViqBnsk-Lvs4CGJampER3fwMZbZK408IQ" />


                            </div>
                        </div>

                    </div>


                </form>


            </div>
        </div>




    }
}


else
{
    <partial name="_LoginRegisterPartial" />
}


@section Scripts
{

    <script type="text/javascript">
        //var element = document.getElementById("TeamsListStr");
        //console.log(element.value);

        var model = JSON.parse('@Html.Raw(Json.Serialize(Model))');
        //console.log(model);

        var password = document.getElementById("Clave")
            , confirm_password = document.getElementById("confirmPassword");

        

        //document.getElementById('signupLogo').src = "https://s3-us-west-2.amazonaws.com/shipsy-public-assets/shipsy/SHIPSY_LOGO_BIRD_BLUE.png";
        enableSubmitButton();

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords no son iguales");
                return false;
            } else {
                confirm_password.setCustomValidity('');
                return true;
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;

        function enableSubmitButton() {
            document.getElementById('submitButton').disabled = false;
            document.getElementById('loader').style.display = 'none';
        }

        function disableSubmitButton() {
            document.getElementById('submitButton').disabled = true;
            document.getElementById('loader').style.display = 'unset';
        }

        function validateSignupForm() {
            var form = document.getElementById('profile-form');

            for (var i = 0; i < form.elements.length; i++) {
                if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                    console.log('There are some required fields!');
                    return false;
                }
            }

            if (!validatePassword()) {
                return false;
            }

            //onSignup();
        }

        function onSignup() {
            //var xhttp = new XMLHttpRequest();
            //xhttp.onreadystatechange = function () {

            //    disableSubmitButton();

            //    if (this.readyState == 4 && this.status == 200) {
            //        enableSubmitButton();
            //    }
            //    else {
            //        console.log('AJAX call failed!');
            //        setTimeout(function () {
            //            enableSubmitButton();
            //        }, 1000);
            //    }

            //};

            //xhttp.open("GET", "ajax_info.txt", true);
            //xhttp.send();

            //var $form = $(this),
            //    $submit = $form.find('button[type="submit"]');
                //Name = $form.find('input[name="Name"]').val(),
                //NormalizedName = $form.find('input[name="NormalizedName"]').val(),

            //var pass = password.value;
            //model.Clave = pass;
            //console.log(pass);
 
        }


        inicio();

        function inicio() {


            var el = document.getElementsByName("secureZone");

            el.forEach((item, index, arreglo) => {
                //console.log(item);
                item.classList.add("active");
            });


            var id = document.getElementById("Id").value;
            //var eventNameTitleCRUD = document.getElementById("eventNameTitleCRUD");
            //eventNameTitleCRUD.innerHTML = "New";
            //if (!isNullOrEmpty(id)){
            //    eventNameTitleCRUD.innerHTML = "Edit";

            //}
        }


        function isNullOrEmpty(str) {
            var returnValue = false;
            if (!str
                || str == null
                || str === 'null'
                || str === ''
                || str === '{}'
                || str === 'undefined'
                || str === '-Select-'
                || str.length === 0) {
                returnValue = true;
            }
            return returnValue;
        }

        $("#profile-form").submit(function (event) {

            var ret = true;
            ret = validateSignupForm();

          
            return ret;
        });


 

    </script>
}






